.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


.vr_viewer{
    height: 450px;
    width: 600px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.ar_viewer{
    height: 75vh;
    width: 600px;
    border: none;
    margin: 0px;
    padding: 0px;
}

model-viewer {
    width: 100%;
    height: 400px;
    background-color: white;
}